.leaflet-control-farm-status a
{
	background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIzMCIgaGVpZ2h0PSIzMCI+Cgk8ZyBzdHlsZT0iZmlsbDojMDAwMDAwO2ZpbGwtb3BhY2l0eTowLjQ7c3Ryb2tlOm5vbmUiPgoJCTxwYXRoIGQ9Ik0gNiwyNCAyNCwyNCAxNSw2IHoiLz4KCQk8cGF0aCBkPSJNIDYsMjQgMjQsMjQgMTUsMTIgeiIvPgoJCTxwYXRoIGQ9Ik0gNiwyNCAyNCwyNCAxNSwxOCB6Ii8+Cgk8L2c+Cjwvc3ZnPgo=");
}
.leaflet-control-farm-status a.active
{
	background-color: #BBB;
}
.leaflet-control-farm-status-tooltip
{
	background-color: rgba(255, 255, 255, 0.6);
	display: none;
	height: 44px;
	left: 30px;
	line-height: 15px;
	margin-left: 15px;
	margin-top: -12px;
	padding: 4px 10px;
	position: absolute;
	top: 50%;
	white-space: nowrap;
	width: auto;
}
.leaflet-control-farm-status a.active .leaflet-control-farm-status-tooltip
{
	display: block;
}
.leaflet-control-farm-status a.finish .leaflet-control-farm-status-tooltip
{
	display: block;
}
.leaflet-control-farm-status-tooltip:before
{
	border-color: transparent rgba(255, 255, 255, 0.6);
	border-style: solid;
	border-width: 12px 12px 12px 0;
	content: "";
	display: block;
	height: 0;
	left: -12px;
	position: absolute;
	width: 0;
}
